
/** BEGIN: Non Openmrs CSS **/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(39, 64, 223, 0.7);
    --left-button-hover-color: rgba(11, 11, 161, 0.3);
    --right-bg-color: rgba(130, 0, 0, 0.425);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);

    --nav-height: 60px;
    --nav-background: #222222;
    --content-height: calc(100vh - var(--nav-height));

    --hover-width: 60%;
    --other-width: 40%;
    --speed: 650ms;

    --spinner-speed: 1.2s;
    --spinner-color: rgb(70, 159, 255);

    
    --form-color: #7ac142;
    --form-color-dark: #5f9b31;

    --button-color: #7ac142;
    --button-color-dark: darkblue;
}

body {
    width: 100%;
    height: 100%;
    margin: var(--nav-height) 0 0 0;
	font-family: "Roboto";
    font-size: 18px;
    overflow-x: hidden;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--nav-height);
    background: var(--nav-background);
}

.nav__link {
    line-height: var(--nav-height);
    display: inline-block;
    padding: 0 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}


/*
    =====================
    =====================
            VIEWS
    =====================
    =====================
*/

/*
    =====================
          Dashboard
    =====================
*/

.dashboard h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.dashboard .button {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
}

.dashboard .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

.dashboard .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

.dashboard .container {
    position: relative;
    width: 100%;
    height: var(--content-height);
    background: var(--container-bg-color);
}

.dashboard .split {
    position: absolute;
    width: 50%;
    height: var(--content-height);
    overflow: hidden;
}

.dashboard .split.left {
    left:0;
    background: url('https://i.imgur.com/joG34te.png') center center no-repeat;
    background-size: cover;
}

.dashboard .split.left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: var(--content-height);
    background: var(--left-bg-color);
}

.dashboard .split.right {
    right:0;
    background: url('https://proservpr.com/wp-content/uploads/2018/01/Web-Services-Banner.jpg') center center no-repeat;
    background-size: cover;
}

.dashboard .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: var(--content-height);
    background: var(--right-bg-color);
}

.dashboard .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
}

.dashboard.hover-left .left {
    width: var(--hover-width);
}

.dashboard.hover-left .right {
    width: var(--other-width);
    opacity: 0.9;
}

.dashboard.hover-right .right {
    width: var(--hover-width);
}
  
.dashboard.hover-right .left {
    width: var(--other-width);
    opacity: 0.9;
}

/*
    =====================
          New-Chip
    =====================
*/

.new-chip.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--content-height);
}

.new-chip form {
    text-align: center;
    box-sizing: border-box;
    width: 260px;
}
.new-chip form h1 {
    box-sizing: border-box;
    padding: 20px;
}
.new-chip form input {
    margin: 40px 25px;
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px var(--form-color);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, var(--form-color) 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: var(--form-color-dark);
}
.new-chip form input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
.new-chip form input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    color: var(--form-color);
    font-size: 11px;
    transform: translateY(-20px);
    visibility: visible !important;
}
.new-chip form button {
    border: none;
    background: var(--form-color);
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    margin: 0px 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.new-chip form button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

/*
    =====================
          Chip-Search
    =====================
*/

.chip-search.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--content-height);
}

.chip-search #Card {
    animation: card-move 3s infinite alternate;
}
.chip-search #Reader {
    animation: reader-move 3s infinite alternate;
}

@keyframes card-move {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-25%);
    }
  }

@keyframes reader-move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(5%);
  }
}

/*
    =====================
          Chip-Creation-Finish
    =====================
*/

.chip-creation-success.container, .chip-creation-failure.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--content-height);
}

.chip-creation-success .checkmark__circle, .chip-creation-failure .failure__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.chip-creation-success .checkmark, .chip-creation-failure .failure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 0% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.chip-creation-success .checkmark__check, .chip-creation-failure .failure__cross {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 50px #7ac142;
  }
}
@keyframes fill-red {
  100% {
    box-shadow: inset 0px 0px 0px 50px #d40000;
  }
}

.chip-creation-success button, .chip-creation-failure button {
    border: none;
    background: var(--button-color);
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    margin: 0px 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}
.chip-creation-success button:hover, .chip-creation-failure button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.chip-creation-failure .failure__circle {
    stroke: #d40000;
}
.chip-creation-failure .failure {
    box-shadow: inset 0px 0px 0px #d40000;
    animation: fill-red .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.chip-creation-failure button {
    background: #d40000;
}

/*
    =====================
          Chip-Overview
    =====================
*/

.chip-overview.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--content-height);
}

.chip-overview .chips-table {
    margin-top: 100px;
}

.chip-overview .chips-table .device-type {
    text-align: center;
}
.chip-overview .chips-table .delete-action {
    text-align: center;
}

.chip-overview .chips-table .delete-action:hover :before {
    color: red;
}

.chip-overview .chips-table tr td:nth-child(2) {
    border-right: 0px;
}
.chip-overview .chips-table tr td:nth-child(3) {
    border-left: 0px;
    border-right: 0px;
}
.chip-overview .chips-table tr td:nth-child(4) {
    border-left: 0px;
}

/*
    =====================
          Tables
    =====================
*/

table {
	border-collapse: collapse;
    width: 70vw;
}
table td {
	padding: 15px;
}
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}


/*
    =====================
    =====================
            MISC
    =====================
    =====================
*/

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--spinner-color);
    border-color: var(--spinner-color) transparent var(--spinner-color) transparent;
    animation: lds-dual-ring var(--spinner-speed) linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: absolute;
    width: calc(100% - 50px);
    margin: 5px 5px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}